#mainWindow
{
    -fx-background-color: black;
}

#inform_label
{
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

#title
{
    -fx-text-fill: #990000;
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#search_btn:hover
 {
    -fx-background-color: #990000;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 16px;
 }

#encrypt_btn:hover
{
    -fx-background-color: #990000;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

#decrypt_btn:hover
{
    -fx-background-color: #990000;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

#search_btn
{
    -fx-background-color: white;
    -fx-text-fill: #990000;
    -fx-alignment: center;
    -fx-font-size: 16px;
}

#encrypt_btn
{
    -fx-background-color: white;
    -fx-text-fill: #990000;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

#decrypt_btn
{
    -fx-background-color: white;
    -fx-text-fill: #990000;
    -fx-alignment: center;
    -fx-font-size: 20px;
}